<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato - Sempre Doce</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css')}}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Sempre Doce</h1>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cardapio.html">Cardápio</a></li>
                    <li><a href="sobre.html">Sobre</a></li>
                    <li><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <h2>Contato</h2>
        <section class="contato">
            <p>Para entrar em contato conosco, envie um e-mail para <a href="mailto:contato@sempredoce.com">contato@sempredoce.com</a> ou ligue para (11) 1234-5678.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Sempre Doce. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
